{
  "extends": "@stencila/eslint-config",
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": 0
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
