__file_snapshots__
# Do not format "data" files in fixtures
**/__fixtures__/**/*.json
**/__fixtures__/**/*.yaml
**/__fixtures__/**/*.md
__outputs__
.sandbox
CHANGELOG.md
codemeta.json
coverage
dist
docs
node_modules
src/codecs/**/README.md
