[
    {
        "scope": "https://doi.org:443",
        "method": "GET",
        "path": "/10.5334/jors.182",
        "body": "",
        "status": 302,
        "response": "<html><head><title>Handle Redirect</title></head>\n<body><a href=\"https://data.crossref.org/10.5334%2Fjors.182\">https://data.crossref.org/10.5334%2Fjors.182</a></body></html>",
        "rawHeaders": [
            "Thu, 01 Aug 2019 00:10:39 GMT",
            "Content-Type",
            "text/html;charset=utf-8",
            "173",
            "close",
            "__cfduid=d57909f37722d2bd4febcc18add2be8ed1564618238; expires=Fri, 31-Jul-20 00:10:38 GMT; path=/; domain=.doi.org; HttpOnly",
            "Location",
            "https://data.crossref.org/10.5334%2Fjors.182",
            "Thu, 01 Aug 2019 00:41:55 GMT",
            "max-age=86400; includeSubDomains",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4ff397174fba1900-AKL"
        ]
    },
    {
        "scope": "https://data.crossref.org:443",
        "method": "GET",
        "path": "/10.5334%2Fjors.182",
        "body": "",
        "status": 200,
        "response": {
            "indexed": {
                "date-parts": [
                    [
                        2019,
                        6,
                        14
                    ]
                ],
                "date-time": "2019-06-14T13:43:06Z",
                "timestamp": 1560519786946
            },
            "reference-count": 6,
            "publisher": "Ubiquity Press, Ltd.",
            "license": [
                {
                    "URL": "http://creativecommons.org/licenses/by/4.0",
                    "start": {
                        "date-parts": [
                            [
                                2019,
                                1,
                                1
                            ]
                        ],
                        "date-time": "2019-01-01T00:00:00Z",
                        "timestamp": 1546300800000
                    },
                    "delay-in-days": 0,
                    "content-version": "vor"
                }
            ],
            "content-domain": {
                "domain": [],
                "crossmark-restriction": false
            },
            "published-print": {
                "date-parts": [
                    [
                        2019,
                        3,
                        21
                    ]
                ]
            },
            "DOI": "10.5334/jors.182",
            "type": "article-journal",
            "created": {
                "date-parts": [
                    [
                        2019,
                        3,
                        21
                    ]
                ],
                "date-time": "2019-03-21T16:41:18Z",
                "timestamp": 1553186478000
            },
            "source": "Crossref",
            "is-referenced-by-count": 0,
            "title": "Tensors.jl — Tensor Computations in Julia",
            "prefix": "10.5334",
            "volume": "7",
            "author": [
                {
                    "ORCID": "http://orcid.org/0000-0001-9092-3092",
                    "authenticated-orcid": false,
                    "given": "Kristoffer",
                    "family": "Carlsson",
                    "sequence": "first",
                    "affiliation": []
                },
                {
                    "ORCID": "http://orcid.org/0000-0003-2476-5406",
                    "authenticated-orcid": false,
                    "given": "Fredrik",
                    "family": "Ekre",
                    "sequence": "additional",
                    "affiliation": []
                }
            ],
            "member": "3285",
            "reference": [
                {
                    "key": "key20190321124106_B1",
                    "year": "1996",
                    "volume-title": "Finite Element Procedures"
                },
                {
                    "issue": "1",
                    "key": "key20190321124106_B2",
                    "doi-asserted-by": "crossref",
                    "first-page": "65",
                    "DOI": "10.1137/141000671",
                    "article-title": "“Julia: A Fresh Approach to Numerical Computing”",
                    "volume": "59",
                    "year": "2017",
                    "journal-title": "SIAM Review"
                },
                {
                    "key": "key20190321124106_B3",
                    "year": "1987",
                    "volume-title": "The finite element method: linear static and dynamic finite element analysis"
                },
                {
                    "key": "key20190321124106_B4",
                    "year": "2012",
                    "volume-title": "The Art of Differentiating Computer Programs: An Introduction to Algorithmic Differentiation"
                },
                {
                    "key": "key20190321124106_B5",
                    "unstructured": "Revels, J, Lubin, M and Papamarkou, T 2016 “Forward-Mode Automatic Differentiation in Julia”. In: arXiv:1607.07892 [cs.MS]. URL: https://arxiv.org/abs/1607.07892."
                },
                {
                    "key": "key20190321124106_B6",
                    "first-page": "1",
                    "year": "2014",
                    "edition": "Seventh",
                    "volume-title": "The Finite Element Method for Solid and Structural Mechanics (Seventh Edition)"
                }
            ],
            "container-title": "Journal of Open Research Software",
            "original-title": [],
            "language": "en",
            "deposited": {
                "date-parts": [
                    [
                        2019,
                        6,
                        14
                    ]
                ],
                "date-time": "2019-06-14T13:22:30Z",
                "timestamp": 1560518550000
            },
            "score": 1,
            "subtitle": [],
            "short-title": [],
            "issued": {
                "date-parts": [
                    [
                        2019
                    ]
                ]
            },
            "references-count": 6,
            "alternative-id": [
                "10.5334/jors.182"
            ],
            "URL": "http://dx.doi.org/10.5334/jors.182",
            "relation": {
                "cites": []
            },
            "ISSN": [
                "2049-9647"
            ]
        },
        "rawHeaders": [
            "*",
            "X-Requested-With, Accept, Accept-Encoding, Accept-Charset, Accept-Language, Accept-Ranges, Cache-Control",
            "Link",
            "Link",
            "<http://dx.doi.org/10.5334/jors.182>; rel=\"canonical\", <http://creativecommons.org/licenses/by/4.0>; version=\"vor\"; rel=\"license\", <http://orcid.org/0000-0001-9092-3092>; title=\"Kristoffer Carlsson\"; rel=\"author\", <http://orcid.org/0000-0003-2476-5406>; title=\"Fredrik Ekre\"; rel=\"author\"",
            "Content-Type",
            "application/vnd.citationstyles.csl+json",
            "2570",
            "http-kit",
            "Thu, 01 Aug 2019 00:10:40 GMT",
            "X-Rate-Limit-Limit",
            "50",
            "X-Rate-Limit-Interval",
            "1s",
            "close"
        ]
    }
]