[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/search/code?q=%3Cbody%3E+repo:elifesciences/elife-article-xml+language:xml+filename:elife-00000-",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003ab562ac92f49cc894fce2fcd2b51b232d051cacc4bcecf2dc8492d498d2f4a2d2ecd292956b24a4bcc294e054a95a4e60279d1b1b500c845f5b737000000"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "10",
            "X-RateLimit-Remaining",
            "9",
            "X-RateLimit-Reset",
            "1578985230",
            "X-GitHub-Media-Type",
            "github.v3; format=json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://raw.githubusercontent.com:443",
        "method": "GET",
        "path": "/elifesciences/elife-article-xml/master/articles/elife-00000-v1.xml",
        "body": "",
        "status": 404,
        "response": "404: Not Found\n",
        "rawHeaders": [
            "X-Fastly-Request-ID",
            "63ef22ec8e9236ea2cce5ba00eaa04ed7ac99622",
            "Source-Age",
            "0"
        ],
        "responseIsBinary": false
    }
]