[
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works/10.1109/MCSE.2007.53",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work",
            "message-version": "1.0.0",
            "message": {
                "indexed": {
                    "date-parts": [
                        [
                            2020,
                            12,
                            2
                        ]
                    ],
                    "date-time": "2020-12-02T07:24:31Z",
                    "timestamp": 1606893871228
                },
                "reference-count": 8,
                "publisher": "Institute of Electrical and Electronics Engineers (IEEE)",
                "issue": "3",
                "content-domain": {
                    "domain": [],
                    "crossmark-restriction": false
                },
                "short-container-title": [
                    "Comput. Sci. Eng."
                ],
                "published-print": {
                    "date-parts": [
                        [
                            2007
                        ]
                    ]
                },
                "DOI": "10.1109/mcse.2007.53",
                "type": "journal-article",
                "created": {
                    "date-parts": [
                        [
                            2008,
                            7,
                            18
                        ]
                    ],
                    "date-time": "2008-07-18T19:45:22Z",
                    "timestamp": 1216410322000
                },
                "page": "21-29",
                "source": "Crossref",
                "is-referenced-by-count": 1683,
                "title": [
                    "IPython: A System for Interactive Scientific Computing"
                ],
                "prefix": "10.1109",
                "volume": "9",
                "author": [
                    {
                        "given": "Fernando",
                        "family": "Perez",
                        "sequence": "first",
                        "affiliation": []
                    },
                    {
                        "given": "Brian E.",
                        "family": "Granger",
                        "sequence": "additional",
                        "affiliation": []
                    }
                ],
                "member": "263",
                "container-title": [
                    "Computing in Science & Engineering"
                ],
                "original-title": [],
                "link": [
                    {
                        "URL": "http://xplorestaging.ieee.org/ielx5/5992/4160244/04160251.pdf?arnumber=4160251",
                        "content-type": "unspecified",
                        "content-version": "vor",
                        "intended-application": "similarity-checking"
                    }
                ],
                "deposited": {
                    "date-parts": [
                        [
                            2017,
                            11,
                            14
                        ]
                    ],
                    "date-time": "2017-11-14T14:25:37Z",
                    "timestamp": 1510669537000
                },
                "score": 1,
                "subtitle": [],
                "short-title": [],
                "issued": {
                    "date-parts": [
                        [
                            2007
                        ]
                    ]
                },
                "references-count": 8,
                "journal-issue": {
                    "issue": "3"
                },
                "URL": "http://dx.doi.org/10.1109/mcse.2007.53",
                "relation": {},
                "ISSN": [
                    "1521-9615"
                ],
                "issn-type": [
                    {
                        "value": "1521-9615",
                        "type": "print"
                    }
                ],
                "subject": [
                    "General Engineering",
                    "General Computer Science"
                ]
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=UTF-8",
            "X-Rate-Limit-Limit",
            "50",
            "X-Rate-Limit-Interval",
            "1s"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Back+to+FICO+Labs&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",
            "message-version": "1.0.0",
            "message": {
                "facets": {},
                "total-results": 295846,
                "items": [
                    {
                        "indexed": {
                            "date-parts": [
                                [
                                    2020,
                                    6,
                                    9
                                ]
                            ],
                            "date-time": "2020-06-09T13:58:39Z",
                            "timestamp": 1591711119837
                        },
                        "edition-number": "1",
                        "reference-count": 0,
                        "publisher": "Presses de l'Université du Québec",
                        "isbn-type": [
                            {
                                "value": "9782760552128",
                                "type": "print"
                            },
                            {
                                "value": "9782760552166",
                                "type": "electronic"
                            }
                        ],
                        "content-domain": {
                            "domain": [],
                            "crossmark-restric[...]
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Back+to+Part+1&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",
            "message-version": "1.0.0",
            "message": {
                "facets": {},
                "total-results": 1451605,
                "items": [
                    {
                        "indexed[...]
