[
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Doviak%2C+R.J.%2C+and+D.S.+Zrnic%2C+Doppler+Radar+and+Weather+Observations%2C+1984%2C+Academic+Press%2C+458pp.&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",
            "message-version": "1.0.0",
            "message": {
                "facets": {},
                "total-results": 2135255,
                "items": [
                    {
                        "indexed": {
                            "date-parts": [
                                [
                                    2020,
                                    4,
                                    9
                                ]
                            ],
                            "date-time": "2020-04-09T23:41:02Z",
                            "timestamp": 1586475662188
                        },
                        "reference-count": 4,
                        "publisher": "Elsevier",
                        "isbn-type": [
                            {
                                "value": "9780122214202",
                                "type": "print"
                            }
                        ],
                        "license": [
                            {
                                "URL": "https://www.elsevier.com/tdm/userlicense/1.0/",
                                "start": {
                                    "date-parts": [
                                        [
                                            1984,
                                            1,
                                            1
                                        ]
                                    ],
                                    "date-time": "1984-01-01T00:00:00Z",
                                    "timestamp": 441763200000
                                },
                                "delay-in-days": 0,
                                "content-version": "tdm"
                            }
                        ],
                        "content-domain": {
                            "domain": [],
                            "crossmark-restriction": false
                        },
                        "published-print": {
                            "date-parts": [
                                [
                                    1984
                                ]
                            ]
                        },
                        "DOI": "10.1016/b978-0-12-221420-2.50009-0",
                        "type": "book-chapter",
                        "created": {
                            "date-parts": [
                                [
                                    2014,
                                    8,
                                    14
                                ]
                            ],
                            "date-time": "2014-08-14T14:02:01Z",
                            "timestamp": 1408024921000
                        },
                        "page": "47-61",
                        "source": "Crossref",
                        "is-referenced-by-count": 0,
                        "title": [
                            "Weather Echo Signals"
                        ],
                        "prefix": "10.1016",
                        "author": [
                            {
                                "given": "RICHARD J.",
                                "family": "DOVIAK",
                                "sequence": "first",
                                "affiliation": []
                            },
                            {
                                "given": "DUŠAN S.",
                                "family": "ZRNIĆ",
                                "sequence": "additional",
                                "affiliation": []
                            }
                        ],
                        "member": "78",
                        "container-title": [
                            "Doppler Radar and Weather Observations"
                        ],
                        "link": [
                            {
                                "URL": "https://api.elsevier.com/content/article/PII:B9780122214202500090?httpAccept=text/xml",
                                "content-type": "text/xml",
                                "content-version": "vor",
                                "intended-application": "text-mining"
                            },
                            {
                                "URL": "https://api.elsevier.com/content/article/PII:B9780122214202500090?httpAccept=text/plain",
                                "content-type": "text/plain",
                                "content-version": "vor",
                                "intended-application": "text-mining"
                            }
                        ],
                        "deposited": {
                            "date-parts": [
                                [
                                    2018,
                                    9,
                                    30
                                ]
                            ],
                            "date-time": "2018-09-30T19:50:53Z",
                            "timestamp": 1538337053000
                        },
                        "score": 73.27126,
                        "issued": {
                            "date-parts": [
                                [
                                    1984
                                ]
                            ]
                        },
                        "ISBN": [
                            "9780122214202"
                        ],
                        "references-count": 4,
                        "URL": "http://dx.doi.org/10.1016/b978-0-12-221420-2.50009-0"
                    }
                ],
                "items-per-page": 1,
                "query": {
                    "start-index": 0,
                    "search-terms": null
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=UTF-8",
            "X-Rate-Limit-Limit",
            "50",
            "X-Rate-Limit-Interval",
            "1s"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Rinehart%2C+R.+E.%2C+2004%3A+Radar+for+Meteorologists%2C+Fourth+Edition.+Rinehart+Publications.+ISBN+0-9658002-1-0&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",
            "message-version": "1.0.0",
            "message": {
                "facets": {},
                "total-results": 3378682,
                "items": [
                    {
                        "indexed": {
                            "date-parts": [
                                [
                                    2020,
                                    8,
                                    1
                                ]
                            ],
                            "date-time": "2020-08-01T15:17:57Z",
                            "timestamp": 1596295077874
                        },
                        "reference-count": 0,
                        "publisher": "University of Toronto Press Inc. (UTPress)",
                        "issue": "1",
                        "content-domain": {
                            "domain": [],
                            "crossmark-restriction": false
                        },
                        "short-container-title": [
                            "Canadian Modern Language Review"
                        ],
                        "published-print": {
                            "date-parts": [
                                [
                                    1969,
                                    10
                                ]
                            ]
                        },
                        "DOI": "10.3138/cmlr.26.1.75c",
                        "type": "journal-article",
                        "created": {
                            "date-parts": [
                                [
                                    2018,
                                    6,
                                    6
                                ]
                            ],
                            "date-time": "2018-06-06T15:54:28Z",
                            "timestamp": 1528300468000
                        },
                        "page": "75c-75c",
                        "source": "Crossref",
                        "is-referenced-by-count": 0,
                        "title": [
                            "Im Wandel der Jahre(Fourth Edition), von Hofe, Harold; New York, Holt, Rinehart and Winston, 1969Im Wandel der Jahre(Fourth Edition), von Hofe, Harold; New York, Holt, Rinehart and Winston, 1969, pp. ix and 218. $6.15."
                        ],
                        "prefix": "10.3138",
                        "volume": "26",
                        "author": [
                            {
                                "family": "d.e.",
                                "sequence": "first",
                                "affiliation": []
                            }
                        ],
                        "member": "1696",
                        "container-title": [
                            "Canadian Modern Language Review"
                        ],
                        "language": "en",
                        "link": [
                            {
                                "URL": "https://utpjournals.press/doi/pdf/10.3138/cmlr.26.1.75c",
                                "content-type": "unspecified",
                                "content-version": "vor",
                                "intended-application": "similarity-checking"
                            }
                        ],
                        "deposited": {
                            "date-parts": [
                                [
                                    2018,
                                    6,
                                    6
                                ]
                            ],
                            "date-time": "2018-06-06T15:54:52Z",
                            "timestamp": 1528300492000
                        },
                        "score": 35.371162,
                        "issued": {
                            "date-parts": [
                                [
                                    1969,
                                    10
                                ]
                            ]
                        },
                        "references-count": 0,
                        "journal-issue": {
                            "published-print": {
                                "date-parts": [
                                    [
                                        1969,
                                        10
                                    ]
                                ]
                            },
                            "issue": "1"
                        },
                        "alternative-id": [
                            "10.3138/cmlr.26.1.75c"
                        ],
                        "URL": "http://dx.doi.org/10.3138/cmlr.26.1.75c",
                        "ISSN": [
                            "0008-4506",
                            "1710-1131"
                        ],
                        "issn-type": [
                            {
                                "value": "0008-4506",
                                "type": "print"
                            },
                            {
                                "value": "1710-1131",
                                "type": "electronic"
                            }
                        ],
                        "subject": [
                            "Linguistics and Language",
                            "Education"
                        ]
                    }
                ],
                "items-per-page": 1,
                "query": {
                    "start-index": 0,
                    "search-terms": null
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=UTF-8",
            "X-Rate-Limit-Limit",
            "50",
            "X-Rate-Limit-Interval",
            "1s"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Lee%2C+W.%2C+P.+Dodge%2C+F.+D.+Marks+Jr.+and+P.+Hildebrand%2C+1994%3A+Mapping+of+Airborne+Doppler+Radar+Data.+Journal+of+Oceanic+and+Atmospheric+Technology%2C+11%2C+572+%E2%80%93+578.&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",
            "message-version": "1.0.0",
         [...]
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Michelson+D.B.%2C+Lewandowski+R.%2C+Szewczykowski+M.%2C+Beekhuis+H.%2C+and+Haase+G.%2C+2014%3A+EUMETNET+OPERA+weather+radar+information+model+for+implementation+with+the+HDF5+file+format.+Version+2.2.+EUMETNET+OPERA+Output+O4.+38+pp.&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",[...]
    {
        "scope": "https://api.crossref.org:443",
        "method": "GET",
        "path": "/works?query.bibliographic=Axford%2C+D.+N.%2C+1968%3A+On+the+accuracy+of+wind+measurements+using+an+inertial+platform+in+an+aircraft%2C+and+an+example+of+a+measurement+of+the+vertical+structure+of+the+atmosphere.+J.+Appl.+Meteor.%2C+7%2C+645-666.&rows=1",
        "body": "",
        "status": 200,
        "response": {
            "status": "ok",
            "message-type": "work-list",
            "[...]
